<!-- <img src="../assets/imgs/banner.png" class="img-fluid" alt="A purple background"> -->

<div class="container">
    <div class="row" style="margin: 12px;">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../assets/imgs/1.png" class="card-img-top" alt="Sobre Mim">
                <div class="card-body">
                    <h5>Sobre mim</h5>
                    <p>Minha jornada até o mundo da tecnologia e outras curiosidades.</p>
                    <a href="/sobre-mim" class="btn btn-primary">Saiba Mais</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../assets/imgs/2.png" class="card-img-top" alt="Formação Acadêmica">
                <div class="card-body">
                    <h5>Formação Acadêmica</h5>
                    <p>O que aprendi até agora em detalhes.</p>
                    <a href="/formacao" class="btn btn-primary">Saiba Mais</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../assets/imgs/3.png" class="card-img-top" alt="Experiência Profissional">
                <div class="card-body">
                    <h5>Experiência Profissional</h5>
                    <p>Os projetos que mais me desenvolvi</p>
                    <a href="/profissional" class="btn btn-primary">Saiba Mais</a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col" style="display: flex; justify-content: center;">
            <a href="/sobre-mim"><img src="../assets/imgs/sobre-mim.png" class="img-thumbnail" alt="Sobre Mim"></a>
        </div>
    </div>
    <div class="row">
        <div class="col" style="display: flex; justify-content: center;">
            <a href="/formacao"><img src="../assets/imgs/formacao.png" class="img-thumbnail" alt="Formação Acadêmica"></a>
        </div>
    </div>
    <div class="row">
        <div class="col" style="display: flex; justify-content: center;">
            <a href="/profissional"><img src="../assets/imgs/profissional.png" class="img-thumbnail" alt="Experiência Profissional"></a>
        </div>
    </div> -->
</div>